@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: Gotham;font-display: swap;src: url("../assets/fonts/Gotham-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {
	font-family: "iconfont";
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?f49c766637ebe4481a082b6e0062915e")
		format("woff2");
}
[class*="--icon-"]::before {
	font-family: iconfont;
}
[class*="--icon-truck"]::before {
	content: "\f101";
}
[class*="--icon-support"]::before {
	content: "\f102";
}
[class*="--icon-star"]::before {
	content: "\f103";
}
[class*="--icon-search"]::before {
	content: "\f104";
}
[class*="--icon-s-wh"]::before {
	content: "\f105";
}
[class*="--icon-s-vk"]::before {
	content: "\f106";
}
[class*="--icon-s-tg"]::before {
	content: "\f107";
}
[class*="--icon-quest"]::before {
	content: "\f108";
}
[class*="--icon-profile"]::before {
	content: "\f109";
}
[class*="--icon-play"]::before {
	content: "\f10a";
}
[class*="--icon-package"]::before {
	content: "\f10b";
}
[class*="--icon-marker"]::before {
	content: "\f10c";
}
[class*="--icon-log-out"]::before {
	content: "\f10d";
}
[class*="--icon-location"]::before {
	content: "\f10e";
}
[class*="--icon-load"]::before {
	content: "\f10f";
}
[class*="--icon-list"]::before {
	content: "\f110";
}
[class*="--icon-deliver"]::before {
	content: "\f111";
}
[class*="--icon-dec-title"]::before {
	content: "\f112";
}
[class*="--icon-copy"]::before {
	content: "\f113";
}
[class*="--icon-check"]::before {
	content: "\f114";
}
[class*="--icon-change"]::before {
	content: "\f115";
}
[class*="--icon-box"]::before {
	content: "\f116";
}
[class*="--icon-bag"]::before {
	content: "\f117";
}
[class*="--icon-arrow"]::before {
	content: "\f118";
}
[class*="--icon-arrow-min"]::before {
	content: "\f119";
}

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #212d3f;
  font-family: "Inter";
  font-size: 1rem;
}
body[body-aside] {
  background: #f8f8f8;
  font-family: "Involve";
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
[class*="--title-56"] {
  font-weight: 600;
  line-height: 1.1;
  font-family: "Involve";
}
[class*="--title-26"] {
  font-weight: 600;
  line-height: 1.2;
}
[class*="--title-18"] {
  font-weight: 600;
  line-height: 1.2;
}
[class*="--crown"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
[class*="--label"] span {
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #80848a;
  margin-bottom: 0.25rem;
}
/* Generated by vite-plugin-svg-spritemap */
.button {
  color: #fff;
  max-width: 16.75rem;
  font-weight: 600;
  line-height: 1.1;
  padding: 1.375rem 0.625rem;
  text-align: center;
  border-radius: 0.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: opacity 0.3s;
  text-transform: uppercase;
  background-color: #0564fc;
  font-family: "Involve";
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.button:active {
  opacity: 0.9;
}
.button--min {
  gap: 0.75rem;
  padding: 0.96875rem 1.5rem;
  text-transform: none;
}
.button--black {
  max-width: 11.75rem;
  font-weight: 400;
  padding: 0.875rem 0.625rem;
  text-transform: none;
  background-color: #212d3f;
}
.button--gray {
  max-width: 100%;
  font-weight: 500;
  box-shadow: none;
  color: #212d3f;
  padding: 0.875rem 0rem;
  text-transform: none;
  background: #f8f8f8;
  text-decoration-skip-ink: none;
  border: 0.0625rem dashed #e9e9e9;
}
.button--fw {
  width: 100%;
}
@media (max-width: 29.99875em){
  .button {
    max-width: 100%;
    padding: 1rem 0.625rem;
  }
}
@media (max-width: 20em){
  [class*="--title-56"] {
    font-size: 1.75rem;
  }
  [class*="--title-26"] {
    font-size: 1.125rem;
  }
  [class*="--title-18"] {
    font-size: 1rem;
  }
  [class*="--crown"] {
    gap: 0.875rem;
  }
  [class*="--crown"] {
    margin-bottom: 2rem;
  }
  .button {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em){
  [class*="--title-56"] {
    font-size: clamp( 1.75rem , 1.18434343434375rem  +  2.8282828283vw , 3.5rem );
  }
  [class*="--title-26"] {
    font-size: clamp( 1.125rem , 0.96338383838125rem  +  0.8080808081vw , 1.625rem );
  }
  [class*="--title-18"] {
    font-size: clamp( 1rem , 0.95959595959375rem  +  0.202020202vw , 1.125rem );
  }
  [class*="--crown"] {
    gap: clamp( 0.875rem , 0.7537878787875rem  +  0.6060606061vw , 1.25rem );
  }
  [class*="--crown"] {
    margin-bottom: clamp( 2rem , 1.79797979798125rem  +  1.0101010101vw , 2.625rem );
  }
  .button {
    font-size: clamp( 0.875rem , 0.83459595959375rem  +  0.202020202vw , 1rem );
  }
}
@media (min-width: 81.875em){
  [class*="--title-56"] {
    font-size: 3.5rem;
  }
  [class*="--title-26"] {
    font-size: 1.625rem;
  }
  [class*="--title-18"] {
    font-size: 1.125rem;
  }
  [class*="--crown"] {
    gap: 1.25rem;
  }
  [class*="--crown"] {
    margin-bottom: 2.625rem;
  }
  .button {
    font-size: 1rem;
  }
}
@media (any-hover: hover){
  .button:hover {
    opacity: 0.8;
  }
  .button--gray:hover {
    text-decoration: underline;
  }
}