@charset "UTF-8";@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Involve;font-display: swap;src: url("../assets/fonts/Involve-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: Gotham;font-display: swap;src: url("../assets/fonts/Gotham-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?f49c766637ebe4481a082b6e0062915e") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-truck"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-support"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-star"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-wh"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-vk"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-tg"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-quest"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-profile"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-play"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-package"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-marker"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-log-out"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-load"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-list"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-deliver"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-dec-title"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-copy"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-change"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-box"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-bag"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f118"; 
	} 
	[class*="--icon-arrow-min"]::before { 
		content: "\f119"; 
	} 

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #212d3f;
  font-family: "Inter";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
[class*="--title-56"] {
  font-weight: 600;
  line-height: 1.1;
  font-family: "Involve";
}

/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  row-gap: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Involve";
}
.menu__list li {
  position: relative;
}
.menu__list li:last-child::before {
  content: "Бесплатно";
  top: 0;
  right: 0;
  rotate: 5deg;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  position: absolute;
  translate: 50% -100%;
  padding: 0.15625rem 0.28125rem;
  pointer-events: none;
  background: #04fcf8;
}
.menu__link {
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.icon-menu {
  display: none;
}
/* Generated by vite-plugin-svg-spritemap */
.header {
  z-index: 10;
  background: #fff;
  padding: 1.25rem 0rem;
  transition: padding 0.3s;
  border-bottom: 0.0625rem solid rgba(128, 132, 138, 0.1);
}
.header__container {
  display: flex;
  column-gap: 0.9375rem;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex-shrink: 0;
}
.header__logo, .header__actions {
  z-index: 1;
  position: relative;
}
.header__main {
  display: flex;
  align-items: center;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__span {
  width: 0.0625rem;
  height: 1.625rem;
  background-color: #e9e9e9;
}
/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.9375rem 0rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.06);
}
/*
[data-fls-header-scroll-show] {
	&.--header-scroll {
		transition: translate 0.3s;
		translate: 0rem -100%;
	}
	&.--header-show {
		translate: 0 0;
	}
}
*/
/* Generated by vite-plugin-svg-spritemap */
.button {
  color: #fff;
  max-width: 16.75rem;
  font-weight: 600;
  line-height: 1.1;
  padding: 1.375rem 0.625rem;
  text-align: center;
  border-radius: 0.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: opacity 0.3s;
  text-transform: uppercase;
  background-color: #0564fc;
  font-family: "Involve";
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.button:active {
  opacity: 0.9;
}
.button--min {
  gap: 0.75rem;
  padding: 0.96875rem 1.5rem;
  text-transform: none;
}
.button--black {
  max-width: 11.25rem;
  font-weight: 400;
  text-transform: none;
  background-color: #212d3f;
}
.button--fw {
  width: 100%;
}
/* Generated by vite-plugin-svg-spritemap */
.social {
  display: flex;
  align-items: center;
}
.social__link {
  width: 2rem;
  display: flex;
  aspect-ratio: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.social__link--icon-s-vk {
  padding-bottom: 0.15625rem;
}
.social__link--icon-s-wh {
  padding-bottom: 0.08125rem;
}
.social__link--icon-s-tg {
  padding-right: 0.125rem;
}
.social__link--l {
  color: #fff;
  background: #212d3f;
}
.social__link--d {
  background: #fff;
}
/* Generated by vite-plugin-svg-spritemap */
/* Generated by vite-plugin-svg-spritemap */
.hero__main {
  display: grid;
}
.hero__image {
  height: 100%;
  object-fit: cover;
  justify-self: end;
}
.advantages-hero {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-hero__item {
  gap: 0.75rem;
  display: flex;
  position: relative;
  align-items: center;
}
.advantages-hero__item span {
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 9.5rem;
  line-height: 1.3;
  font-family: "Involve";
}
.advantages-hero__item::before {
  width: 3.5rem;
  display: flex;
  font-size: 2.25rem;
  aspect-ratio: 1;
  border-radius: 0.625rem;
  align-items: center;
  justify-content: center;
  background: #04fcf8;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.advantages-hero__item--icon-list::before {
  padding-bottom: 0.3125rem;
}
.advantages-hero__item--icon-truck::before {
  padding-bottom: 0.625rem;
}
.show__container {
  display: grid;
  align-items: center;
}
.show__main {
  position: relative;
}
.show__decore {
  left: 0;
  bottom: 0;
  width: 62.229102%;
  position: absolute;
}
.step__container {
  display: grid;
  row-gap: 3.4375rem;
}
.step__main {
  gap: 1.5625rem;
  display: grid;
  grid-template-rows: 1fr auto;
}
.step__image {
  overflow: hidden;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.step__image img {
  width: 100%;
}
.step__mobile-pip {
  left: 0.625rem;
  top: 0.625rem;
  position: absolute;
}
.step__items {
  display: grid;
  row-gap: 2.625rem;
  column-gap: 1.5rem;
}
.item-step {
  position: relative;
  border-radius: 0.625rem;
  padding: 2.25rem 1.25rem 1.25rem 1.25rem;
  border: 0.125rem solid #e9e9e9;
}
.item-step__number {
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  background: #212d3f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Involve";
  top: 0;
  translate: 0 -60%;
  position: absolute;
}
.item-step__title {
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.item-step__text {
  line-height: 1.2;
  color: #80848a;
  font-family: "Involve";
}
.order {
  background: #f8f8f8;
}
.order__title {
  text-align: center;
}
.order__body {
  display: grid;
}
.item-order {
  background: #fff;
  border-radius: 0.625rem;
  border: 0.0625rem solid #e9e9e9;
  box-shadow: 0.5rem 0.5rem 0 0 #04fcf8;
}
.item-order__image {
  display: flex;
  margin: 0 auto;
}
.item-order__content {
  gap: 1rem;
  display: grid;
}
.item-order__block-content {
  gap: 1rem;
  display: flex;
}
.item-order__block-content::before {
  height: 1.5rem;
  display: flex;
  min-width: 1.5rem;
  font-size: 0.9375rem;
  align-items: center;
  justify-content: center;
}
.item-order__items-content {
  gap: 0.5rem;
  display: grid;
}
.item-order__item-content {
  line-height: 1.2;
  font-family: "Involve";
}
.item-order__item-content--hl {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ca0707;
}
.item-order__item-content--rg {
  font-family: "Inter";
}
.item-order__item-content--mn {
  font-size: 0.875rem;
  font-weight: 500;
  color: #80848a;
}
.ozon__body {
  display: grid;
  row-gap: 3.75rem;
  column-gap: 1.875rem;
  align-items: center;
}
.ozon__image {
  justify-self: end;
  position: relative;
  margin-right: 2rem;
}
.ozon__image img {
  width: 100%;
}
.ozon__image::before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  rotate: 8deg;
  position: absolute;
  background: #e9eaec;
  border-radius: 0.625rem;
}
.ozon__pin {
  right: -2rem;
  bottom: -2.75rem;
  position: absolute;
}
.garant__body {
  gap: 1.875rem;
  display: grid;
  align-items: center;
  border-radius: 0.625rem;
  background: #04fcf8 url("../assets/img/garant/bg.svg") 0 center/cover no-repeat;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.garant__image {
  height: 100%;
  object-fit: cover;
  justify-self: end;
  border-radius: 0.625rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.faq__head {
  gap: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adres__body {
  display: grid;
}
.adres__content {
  display: grid;
  align-items: start;
  grid-template-rows: 1fr auto;
}
.adres__block {
  border-radius: 0.625rem;
  background-color: #f8f8f8;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.adres__item-tip {
  gap: 1.125rem;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Involve";
}
.adres__item-tip span {
  align-self: center;
}
.adres__item-tip:not(:last-child) {
  margin-bottom: 0.75rem;
}
.adres__item-tip::before {
  font-size: 1.125rem;
}
.adres__item-tip:first-child::before {
  color: #ca0707;
}
.adres__item-tip:last-child::before {
  color: #0564fc;
}
.adres__map {
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0rem 0.0625rem 0rem, rgba(17, 17, 26, 0.1) 0rem 0rem 0.5rem;
}
.block-adres__city {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.block-adres__link-city {
  line-height: 1.2;
  padding: 0.5rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Involve";
  transition: background 0.3s, color 0.3s;
}
.block-adres__link-city--active {
  color: #fff;
  background: #212d3f;
}
.block-adres__locate {
  gap: 1rem;
  display: grid;
}
.block-adres__link-locate {
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}
.block-adres__timework {
  gap: 0.5rem;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #80848a;
  flex-direction: column;
  font-family: "Involve";
}
.block-adres__timework span {
  font-size: 1rem;
  font-weight: 400;
  color: #212d3f;
}
.block-adres > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 61.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em){
  .menu__body {
    background: rgba(128, 132, 138, 0.3);
    -webkit-backdrop-filter: blur(1.875rem);
    backdrop-filter: blur(1.875rem);
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    transition: left 0.3s;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.625rem;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    transition: left 0.3s;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  .--header-scroll .menu__body {
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
  }
  .--header-scroll .menu__body::before {
    height: 5rem;
  }
  .menu__list {
    row-gap: 2.1875rem;
    align-items: start;
    flex-direction: column;
  }
  .menu__list li {
    position: relative;
  }
  .menu__list li:last-child::before {
    font-size: 1rem;
  }
  .menu__link {
    font-size: 2rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header__actions {
    gap: 0.625rem;
  }
}
@media (max-width: 47.99875em){
  .header__button {
    font-size: 1.125rem;
    padding: 0.625rem !important;
  }
  .header__button span {
    display: none;
  }
  .hero__image {
    justify-self: center;
  }
  .show__decore {
    display: none;
  }
  .item-step {
    padding: 1.875rem 0.9375rem 0.9375rem 0.9375rem;
  }
  .item-step__number {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.125rem;
  }
  .item-order__block-content {
    gap: 0.5rem;
  }
  .item-order__block-content::before {
    height: 1.125rem;
    min-width: 1.125rem;
  }
  .ozon__image {
    justify-self: center;
  }
  .garant__body {
    padding: 1.875rem;
  }
  .adres__map .map__body {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 47.995em){
  .show__container {
    gap: 1.125rem;
  }
  .show__blockhead .blockhead__title {
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 36.87375em){
  .garant__image {
    width: 100%;
    justify-self: center;
  }
}
@media (max-width: 29.99875em){
  .button {
    max-width: 100%;
    padding: 1rem 0.625rem;
  }
  .ozon__body {
    row-gap: 2.8125rem;
  }
}
@media (max-width: 20em){
  [class*="--title-56"] {
    font-size: 1.75rem;
  }
  .button {
    font-size: 0.875rem;
  }
  .social {
    gap: 0.5rem;
  }
  .hero {
    padding-top: 0.9375rem;
  }
  .hero {
    padding-bottom: 2.5rem;
  }
  .show {
    padding-bottom: 2.5rem;
  }
  .step {
    padding-bottom: 2.5rem;
  }
  .step__image {
    border-radius: 0.625rem;
  }
  .order {
    padding-top: 1.875rem;
  }
  .order {
    padding-bottom: 1.875rem;
  }
  .order__title {
    margin-bottom: 1.5rem;
  }
  .order__body {
    gap: 0.875rem;
  }
  .item-order {
    padding: 0.875rem;
  }
  .item-order__image {
    margin-bottom: 1rem;
  }
  .ozon {
    padding-top: 2.5rem;
  }
  .garant {
    padding-top: 5.25rem;
  }
  .faq {
    padding-top: 2.5rem;
  }
  .faq__head {
    margin-bottom: 1.5rem;
  }
  .adres {
    padding-top: 2.5rem;
  }
  .adres {
    padding-bottom: 2.5rem;
  }
  .adres__title {
    margin-bottom: 1.5rem;
  }
  .adres__body {
    row-gap: 1.5rem;
  }
  .adres__content {
    row-gap: 1.5rem;
  }
  .adres__block {
    padding: 1rem;
  }
  .block-adres > * {
    margin-bottom: 0.875rem;
  }
  .block-adres__locate {
    margin-bottom: 1.5rem;
  }
  .block-adres__link-locate {
    gap: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em){
  [class*="--title-56"] {
    font-size: clamp( 1.75rem , 1.18434343434375rem  +  2.8282828283vw , 3.5rem );
  }
  .button {
    font-size: clamp( 0.875rem , 0.83459595959375rem  +  0.202020202vw , 1rem );
  }
  .social {
    gap: clamp( 0.5rem , 0.33838383838125rem  +  0.8080808081vw , 1rem );
  }
  .hero {
    padding-top: clamp( 0.9375rem , -0.1736111111125rem  +  5.5555555556vw , 4.375rem );
  }
  .hero {
    padding-bottom: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .show {
    padding-bottom: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .step {
    padding-bottom: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .step__image {
    border-radius: clamp( 0.625rem , 0.42297979798125rem  +  1.0101010101vw , 1.25rem );
  }
  .order {
    padding-top: clamp( 1.875rem , 0.8648989899rem  +  5.0505050505vw , 5rem );
  }
  .order {
    padding-bottom: clamp( 1.875rem , 0.8648989899rem  +  5.0505050505vw , 5rem );
  }
  .order__title {
    margin-bottom: clamp( 1.5rem , 1.01515151515rem  +  2.4242424242vw , 3rem );
  }
  .order__body {
    gap: clamp( 0.875rem , 0.59217171716875rem  +  1.4141414141vw , 1.75rem );
  }
  .item-order {
    padding: clamp( 0.875rem , 0.59217171716875rem  +  1.4141414141vw , 1.75rem );
  }
  .item-order__image {
    margin-bottom: clamp( 1rem , 0.67676767676875rem  +  1.6161616162vw , 2rem );
  }
  .ozon {
    padding-top: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .garant {
    padding-top: clamp( 5.25rem , 2.017676767675rem  +  16.1616161616vw , 15.25rem );
  }
  .faq {
    padding-top: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .faq__head {
    margin-bottom: clamp( 1.5rem , 1.01515151515rem  +  2.4242424242vw , 3rem );
  }
  .adres {
    padding-top: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .adres {
    padding-bottom: clamp( 2.5rem , -0.732323232325rem  +  16.1616161616vw , 12.5rem );
  }
  .adres__title {
    margin-bottom: clamp( 1.5rem , 1.01515151515rem  +  2.4242424242vw , 3rem );
  }
  .adres__body {
    row-gap: clamp( 1.5rem , 0.79292929293125rem  +  3.5353535354vw , 3.6875rem );
  }
  .adres__content {
    row-gap: clamp( 1.5rem , 0.79292929293125rem  +  3.5353535354vw , 3.6875rem );
  }
  .adres__block {
    padding: clamp( 1rem , 0.67676767676875rem  +  1.6161616162vw , 2rem );
  }
  .block-adres > * {
    margin-bottom: clamp( 0.875rem , 0.59217171716875rem  +  1.4141414141vw , 1.75rem );
  }
  .block-adres__locate {
    margin-bottom: clamp( 1.5rem , 1.01515151515rem  +  2.4242424242vw , 3rem );
  }
  .block-adres__link-locate {
    gap: clamp( 0.5rem , 0.33838383838125rem  +  0.8080808081vw , 1rem );
  }
}
@media (min-width: 36.87375em){
  .garant__body {
    grid-template-columns: 41.25% auto;
  }
}
@media (min-width: 47.995em) and (max-width: 81.875em){
  .show__container {
    gap: clamp( 1.125rem , -1.53115776269375rem  +  5.5342384888vw , 3rem );
  }
  .show__main {
    padding-left: clamp( 0.9375rem , -1.27596480224375rem  +  4.6118654073vw , 2.5rem );
  }
  .show__main {
    padding-bottom: clamp( 0.9375rem , -1.27596480224375rem  +  4.6118654073vw , 2.5rem );
  }
  .show__blockhead .blockhead__title {
    margin-bottom: clamp( 1.125rem , -1.53115776269375rem  +  5.5342384888vw , 3rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 81.875em){
  .hero__main {
    margin-bottom: clamp( 2.1875rem , -3.5685952547875rem  +  11.9921774104vw , 6.25rem );
  }
  .garant__body {
    padding: clamp( 1.875rem , -2.55276558060625rem  +  9.2247518542vw , 5rem );
  }
  .adres__body {
    column-gap: clamp( 1.5rem , -0.09399560901875rem  +  3.3209106675vw , 2.625rem );
  }
}
@media (min-width: 47.99875em){
  .hero__main {
    grid-template-columns: repeat(2, 1fr);
  }
  .show__container {
    grid-template-columns: 52.1875% auto;
  }
  .step__items {
    row-gap: 0;
    align-self: start;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-step--mt {
    margin-top: 8.125rem;
  }
  .item-step:not(:last-child)::before {
    content: "";
    right: 2.75rem;
    width: 7rem;
    height: 3.875rem;
    bottom: -0.625rem;
    translate: 0 100%;
    position: absolute;
    background: url("../assets/img/step/decor.svg") 0 0 no-repeat;
  }
  .item-step:not(:last-child):nth-child(even)::before {
    left: 2.75rem;
    scale: -1 1;
  }
  .order__body {
    grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  }
  .ozon__body {
    grid-template-columns: 50.46875% 1fr;
  }
  .adres__body {
    grid-template-columns: 22.5rem 1fr;
  }
  .adres__map .map__body {
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 61.99875em) and (min-width: 81.875em){
  .advantages-hero__item:not(:first-child)::after {
    left: -4.125rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 61.99875em) and (max-width: 81.875em){
  .advantages-hero__item:not(:first-child)::after {
    left: clamp( -4.125rem , 8.2327133513625rem  +  -15.0933903528vw , -1.125rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 81.875em){
  .menu {
    margin-right: clamp( 2.5rem , -9.1971416892rem  +  18.866737941vw , 6.25rem );
  }
  .menu__list {
    column-gap: clamp( 0.9375rem , -0.03726180743125rem  +  1.5722281618vw , 1.25rem );
  }
  .header__actions {
    gap: clamp( 0.625rem , -1.32452361486875rem  +  3.1444563235vw , 1.25rem );
  }
  .step__container {
    gap: clamp( 1.5625rem , -7.2103562669rem  +  14.1500534558vw , 4.375rem );
  }
}
@media (min-width: 61.99875em) and (any-hover: hover){
  .menu__link:hover::after {
    left: 0;
    width: 100%;
  }
}
@media (min-width: 61.99875em){
  .menu__link::after {
    content: "";
    width: 0;
    bottom: -0.3125rem;
    left: 50%;
    height: 0.125rem;
    border-radius: 0.3125rem;
    position: absolute;
    background: #212d3f;
    transition: width 0.5s, left 0.5s;
  }
  .advantages-hero__item:not(:first-child)::after {
    content: "";
    top: 0;
    width: 0.09375rem;
    height: 100%;
    position: absolute;
    background: #e9e9e9;
  }
  .step__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .step__mobile-pip {
    display: none;
  }
}
@media (min-width: 81.875em){
  [class*="--title-56"] {
    font-size: 3.5rem;
  }
  .menu {
    margin-right: 6.25rem;
  }
  .menu__list {
    column-gap: 1.25rem;
  }
  .header__actions {
    gap: 1.25rem;
  }
  .button {
    font-size: 1rem;
  }
  .social {
    gap: 1rem;
  }
  .hero {
    padding-top: 4.375rem;
  }
  .hero {
    padding-bottom: 12.5rem;
  }
  .hero__main {
    margin-bottom: 6.25rem;
  }
  .show {
    padding-bottom: 12.5rem;
  }
  .show__container {
    gap: 3rem;
  }
  .show__main {
    padding-left: 2.5rem;
  }
  .show__main {
    padding-bottom: 2.5rem;
  }
  .show__blockhead .blockhead__title {
    margin-bottom: 3rem;
  }
  .step {
    padding-bottom: 12.5rem;
  }
  .step__container {
    gap: 4.375rem;
  }
  .step__image {
    border-radius: 1.25rem;
  }
  .order {
    padding-top: 5rem;
  }
  .order {
    padding-bottom: 5rem;
  }
  .order__title {
    margin-bottom: 3rem;
  }
  .order__body {
    gap: 1.75rem;
  }
  .item-order {
    padding: 1.75rem;
  }
  .item-order__image {
    margin-bottom: 2rem;
  }
  .ozon {
    padding-top: 12.5rem;
  }
  .garant {
    padding-top: 15.25rem;
  }
  .garant__body {
    padding: 5rem;
  }
  .faq {
    padding-top: 12.5rem;
  }
  .faq__head {
    margin-bottom: 3rem;
  }
  .adres {
    padding-top: 12.5rem;
  }
  .adres {
    padding-bottom: 12.5rem;
  }
  .adres__title {
    margin-bottom: 3rem;
  }
  .adres__body {
    row-gap: 3.6875rem;
  }
  .adres__body {
    column-gap: 2.625rem;
  }
  .adres__content {
    row-gap: 3.6875rem;
  }
  .adres__block {
    padding: 2rem;
  }
  .block-adres > * {
    margin-bottom: 1.75rem;
  }
  .block-adres__locate {
    margin-bottom: 3rem;
  }
  .block-adres__link-locate {
    gap: 1rem;
  }
}
@media (any-hover: hover){
  .button:hover {
    opacity: 0.8;
  }
  .social__link--l:hover {
    color: #212d3f;
    background: #04fcf8;
  }
  .social__link--d:hover {
    background: #04fcf8;
  }
  .block-adres__link-city:hover {
    background: #e9e9e9;
  }
  .block-adres__link-city--active:hover {
    background: #212d3f;
  }
  .block-adres__link-locate:hover {
    opacity: 0.5;
  }
}